<link rel="stylesheet" href="/login.css">
<div class="wrapper">
  <form id="loginForm" action="/user/register" method="post">
    <h2>Register</h2>
  <h4 style="color:aqua">{{message}}</h4>
    <div class="input-field">
      <input type="text" id="email" name="email" autocomplete="off">
      <label>Enter your email</label>
    </div>

    <div class="input-field">
      <input type="password" id="password" name="password" autocomplete="off">
      <label>Enter your password</label>
    </div>

    <div class="input-field">
      <input type="password" id="confirmPassword" name="confirmpassword" autocomplete="off">
      <label>Confirm password</label>
    </div>

    

    <button type="submit">Register</button>

    <div class="register">
      <p>already have an account? <a href="/login">Login</a></p>
    </div>
  </form>
</div>

<script>
const form = document.getElementById('loginForm');

form.addEventListener('submit', function(event) {
  event.preventDefault();

  const email = document.getElementById('email').value.trim();
  const password = document.getElementById('password').value.trim();
  const confirmPassword = document.getElementById('confirmPassword').value.trim();

  const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  const passwordPattern = /^(?=.*[a-zA-Z])(?=.*\d).+$/;

  if (!emailPattern.test(email)) {
    return;
  }

  if (!passwordPattern.test(password)) {
    return;
  }

  if (password !== confirmPassword) {
    return;
  }

  form.submit();
});

</script>
